<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
<div class="wrapper">
<nav>
 
  	<div class="pull-left">
    	<h1><a href="javascript:"><img src="img/icon.png" alt="Free Documentation Template Icon" /> <span>DocWeb</span></a></h1>
    </div>
    
    <div class="pull-right">
    	<a href="http://frittt.com/free-documentation-html-template-docweb" target="_blank" class="btn btn-download"><img src="img/download.png" width="25" alt="Download Free Documentation Template" /> Download Now</a>
    </div>

</nav>
<header>
  <div class="container">
    <h2 class="lone-header">Free Documentation HTML Template [ Responsive ]</h2>
  </div>
</header>
<section>
  <div class="container">
    {{ partial "nav.html" . }}
    <!--<ul class="docs-nav">
      <li><strong>Getting Started</strong></li>
      <li><a href="#welcome" class="cc-active">Welcome</a></li>
      <li><a href="#benefits" class="cc-active">Benefits</a></li>
      <li><a href="#features" class="cc-active">Features</a></li>
      <li><a href="#license" class="cc-active">License</a></li>
      <li class="separator"></li>
      <li><strong>Customization</strong></li>
      <li><a href="#view_type" class="cc-active">View Type</a></li>
      <li><a href="#animation_style" class="cc-active">Animation Styles</a></li>
      <li><a href="#bars_text" class="cc-active">Bars Text</a></li>
      <li><a href="#vote_counter" class="cc-active">Vote Counter</a></li>
      <li><a href="#rating_icons" class="cc-active">Rating Icons</a></li>
      <li><a href="#rating_titles" class="cc-active">Rating Titles</a></li>
      <li><a href="#bar_colors" class="cc-active">Bar Colors</a></li>
    </ul>-->
    <div class="docs-content">
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      <h2>{{ $name | title }}</h2>
      {{ range $taxonomy.Pages }}
        <h3 id="{{ .LinkTitle | urlize }}">{{ .Title }}</h3>
        {{ .Content }}
        <hr>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ partial "footer.html" }}
</div>
<script src="{{ .Site.BaseURL }}assets/js/jquery.min.js"></script> 

<script src="{{ .Site.BaseURL }}assets/js/layout.js"></script>
</body>
</html>
